<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +92-318-661-221-4
          <i class="fas fa-phone"></i> +92-318-661-221-5
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> murrhostel@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/MURR79049519">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/MURR-115044036862311/">
              <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/murr_hostel/">
              <i class="fab fa-instagram"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </section>