{% extends 'base.html' %} 



{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  
  <div class="container" style="height:300px; width:1200px">
    <hr>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"><h1>Welcome To.</h1></div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"><h4>Muhammad Umer Room Rent</h4></div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"><h5 style="color: red;">Under Development</h5></div>
      <div class="col-lg-4"></div>
  </div>
  </div>


  <!-- Listings -->

{% endblock %}